body {
    /*padding-top: 115px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    min-height: 440px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 200px;
}
input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }
footer {
    background-color: #e2e2e2;
    border-top-color: #1bb1e7;
    border-top-style: solid;
    border-top-width: 3px;
    clear: both;
    font-size: 11px;
    height: 40px;
}
.content-wrapper {
    margin: 0 auto;
	max-width: 90%;
}

footer .content-wrapper {height:30px; border:0px solid #366;}

#loginForm .form-control {
width: 250px;
}

button.nof-save {
    margin-left: 13%;
    position: absolute;
}

button.nof-cancel {
    margin-left: 26%;
    margin-top: 0;
}

table th #checkboxAll, .nof-collection-table .nof-label {
    float: left;
    margin-right: 3px;
}

.nof-propertylist .nof-property div.nof-object, .nof-propertylist .nof-property .nof-collection-table div.nof-value{
border-top: 0px solid;
}

.nof-collection-table {
border-top: 1px solid #d6d6d6;
}

.nof-collection-table table .nof-object img {
    display: none;
}

/*.ui-dialog {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: url("../images/body_graphix.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
}*/